{{#if DiscourseThemesVisible}}
  <div class='themes'>
    <img src="http://eviltrout.com/images/tentacle.gif">
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="DiscourseThemes.show" action="show tentacle" icon="eye"}}
</div>
